.sidebar {
    position: relative;
    height: 100lvh;
    width: 300px;
    background-color: #57acfba8;
    transition: width 0.3s ease-in-out;

    .lang {
        color: var(--color-primary-text);
        margin-right: 30px;
    }
}

.show {
    width: 80px;
    
    .svitchers{
        flex-direction: column;
        align-items: center;
    }

    .listText{
        opacity: 0;
        position: absolute;
    }
}

.showBtn{
    border: none;
    position: absolute;
    right: -15px;
    top: 70px;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

.svitchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.menuSidebar{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 20px;
    gap: 10px;

}

.item{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.listText{
    opacity: 1;
    line-height: 1;
    color: var(--color-primary-text);
}

.icon{
    width: 20px;
    height: 20px;
    fill: var(--color-primary-text);
}